.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10em 0em 0em 5em;
}

.navbar-route overlay-element {
    padding-left: 5%;
    text-decoration: none;
    font-size: 22px;
    color: black;
    display: block;
    transition: 0.3s;

    font-family: inherit;

    border: none;
    background: none;
    cursor: pointer;
    outline: none;

    height: 60px;
    font-style: normal;
    font-weight: 500;
}

.navbar-route overlay-element:hover,
.navbar-route overlay-element:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .navbar-route overlay-element {
        font-size: 20px;
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }

    .navbar-route overlay-element.LS {
        width: 5%;
    }
}

#nav-icon3 {
    display: none;
    z-index: 3;
    width: 32px;
    position: relative;
    position: absolute;
    right: 2em;
    top: 1.1em;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

#nav-icon3 span {
    display: block;
    position: absolute;
    height: 6px;
    width: 100%;
    background: #2f005f;
    border-radius: 6px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
    top: 0px;
}

#nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
    top: 10px;
}

#nav-icon3 span:nth-child(4) {
    top: 20px;
}

#nav-icon3.open span:nth-child(1) {
    top: 10px;
    width: 0%;
    left: 50%;
}

#nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
    top: 10px;
    width: 0%;
    left: 50%;
}

.darkNav-span {
    background: white !important;
}

.navbar {
    width: 100%;
    height: 4em;
    background-color: white;
    position: relative;
}

.navbar-title,
.navbar-route {
    vertical-align: middle;
    text-decoration: none;
}

.darkNav-title {
    color: white !important;
}

.darkNav-back {
    background-color: #2f005f;
}

.darkNav-route {
    background-color: #2f005f !important;
    color: white !important;
}

.navbar-route {
    font-family: 'Poppins';
    height: 3em;
    background-color: white;
    border: none;
    color: #2f005f;
    cursor: pointer;
    font-weight: 800;
    letter-spacing: 0.085em;
    text-transform: uppercase;

    display: flex;
        align-content: center;
        align-items: center;
}

.navbar-route:hover {
    color: #7f34c9;
}

.navbar-title {
    font-family: 'Roboto';
    font-size: 35px;
    padding-left: 3.5%;
    font-weight: 700;
    color: #2f005f;
    z-index: 3;
    position: relative;
}

.navbar-end {
    display: flex;
    align-content: center;

    justify-content: normal;
    align-items: center;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}

@media screen and (max-width: 1150px) {
    .navbar-end {
        display: none;
    }

    #nav-icon3 {
        display: inline-block;
    }
}

@media screen and (max-width: 500px) {
    .navbar-title {
        font-size: 25px;
        line-height: 2.3em;
    }

    .overlay-content {
        margin: 10em 0em 0em 2em;
    }
}